  <div class="container p-1 text-light">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center  py-5 main-container">
      <div class="col-10">
        <div class="text-center mb-4">
          <div class="h1 display-3 fw-bold lh-1 mb-3"><%= @result.test.title %></div>
          <div class='text-center display-6'>Test Results</div>
        </div>
        <div class="border border-outline border-secondary rounded p-4 mb-4">
          <div class="row mb-4">
            <div class='col-2 fw-bold'>Name: </div>
            <div class='col-10 h1 text-center'><%= @result.responder.name %> </div>
          </div>
          <div class="row mb-2">
            <div class='col-2 fw-bold'>Score: </div>
            <div class='col-10 h4 text-center'><%= @result.score %>  </div>
          </div>
          <div class="row mb-2">
            <div class='col-2 fw-bold'>Out of: </div>
            <div class='col-10 h4 text-center'><%= @result.test.calculation.max_possible_score %>  </div>
          </div>
          <div class="row mb-2">
            <div class='col-2 fw-bold'>Percentage: </div>
            <div class='col-10 h4 text-center mb-4'><%= @result.percent_result %> %</div>
          </div>
          <div class="row mb-2">
            <span class="col-2 fw-bold"> Result: </span>
            <span class="col-10 h1 text-center"> <%= @result.result %></span>
          </div>
        </div>
        <div class="border border-outline border-secondary rounded p-4 mb-4">
          <div class="row">
            <div class='fw-bold pb-2'>Note: </div>
            <p class='text-center'>It's important to keep in mind that introversion and extroversion are complex personality traits, 
            and that people can fall anywhere on a spectrum between the two. The test can give a general idea, but not a definitive answer. 
            Additionally, people's personalities can change throughout their lives and in different situations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
